.Timeline {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.Timeline-header {
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color:  hsl(197, 79%, 85%);
    flex: 0;
    justify-content: space-around;
    align-items: center;
}
.Projects-container {
    display: flex;

}
.day-holder {
    display: flex;
    flex: 1;
    position: relative;
    height: 80vh;
}