.timeline-tasks {
    height: var(--timeline-task-height);
    margin-bottom: var(--timeline-task-spacing);
}

.timeline-task {
    background-color: var(--project-yellow);
    position: relative; /* Weird thing to make it task render on top of borders */
    border: solid rgba(0,0,0,0.2) 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-task:first-of-type {
    border-bottom-style: hidden;
}

.timeline-task p {
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.timeline-task button {
    position: absolute;
    top: 0px;
    right: 0px;
}