.task {
  background-color: hsl(210, 69%, 73%);
  border: solid black 1px;
  border-radius: 0px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-button {
  background-color: hsl(205, 74%, 53%);
  border-radius: 20px;
  align-self: flex-end;
  margin-top: 5px;
  margin-right: 5px;
  border-style: hidden;
  visibility: hidden;
}
.done-button {
  background-color: hsl(205, 74%, 53%);
  border-radius: 20px;
  align-self: flex-end;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-style: hidden;
  visibility: hidden;
}
.task:hover .done-button,
.task:hover .x-button {
  visibility: visible;
}
