.project-wrapper {
  overflow-x: visible;
  width: 100%;
  margin-bottom: var(--timeline-task-spacing);
  display: flex;
  align-items: stretch;
}

.project-task {
    background-color: var(--project-green);
    border:solid rgba(0,0,0,0.2) 2px;
    height: var(--timeline-task-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    z-index: 3;
    overflow: hidden;
  }

  .project-line {
    flex: 1 0 900%;
    width: 300%;
    z-index: 1;
    background-color: var(--project-task-color);
    opacity: 0.5;
  }
  

  .x-button {
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
    border-style: hidden;
    visibility: hidden;
  }
  .done-button {
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-style: hidden;
    visibility: hidden;
  }
  .project-task:hover .done-button, .project-task:hover .x-button {
    visibility: visible;
  }
