.project-task {
    background-color: hsl(210, 69%, 73%);
    border: none;
    border-radius: 1px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .x-button {
    background-color: hsl(205, 74%, 53%);
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
    border-style: hidden;
    visibility: hidden;
  }
  .done-button {
    background-color: hsl(205, 74%, 53%);
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-style: hidden;
    visibility: hidden;
  }
  .project-task:hover .done-button, .project-task:hover .x-button {
    visibility: visible;
  }
  
